In [10]:
import pandas as pd
import numpy as np

In [34]:
df_rdkit = pd.read_csv("smiles_matrix_rdkit.csv")
df_re = pd.read_csv("smiles_matrix_string.csv")
df_re2 = pd.read_csv("smiles_matrix_string2.csv")

In [35]:
df_rdkit.drop(["canonical_smiles"], inplace=True, axis=1)
df_re.drop(["canonical_smiles"], inplace=True, axis=1)
df_re2.drop(["canonical_smiles"], inplace=True, axis=1)

In [33]:
display(df_rdkit[df_rdkit["atomno_36"]==1])

np.sum(df_re.query("canonical_smiles == '[Kr]'").drop(["canonical_smiles"], axis=1))

,canonical_smiles,atomno_1,atomno_2,atomno_3,atomno_4,atomno_5,atomno_6,atomno_7,atomno_8,atomno_9,...,atomno_37,atomno_38,atomno_47,atomno_52,atomno_53,atomno_54,atomno_55,atomno_56,atomno_83,atomno_88
771457,[81Kr],0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
828283,[Kr],0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

atomno_1     0
atomno_2     0
atomno_3     0
atomno_4     0
atomno_5     0
atomno_6     0
atomno_7     0
atomno_8     0
atomno_9     0
atomno_11    0
atomno_12    0
atomno_13    0
atomno_14    0
atomno_15    0
atomno_16    0
atomno_17    0
atomno_19    1
atomno_20    0
atomno_30    0
atomno_33    0
atomno_34    0
atomno_35    0
atomno_36    0
atomno_37    0
atomno_38    0
atomno_47    0
atomno_52    0
atomno_53    0
atomno_54    0
atomno_55    0
atomno_56    0
atomno_83    0
atomno_88    0
dtype: int64

In [2]:
df_rdkit.shape, df_re.shape

((2084724, 33), (2084724, 33))

In [4]:
for i, j in zip(df_rdkit.sum(), df_re.sum()):
    print(i, j)

632 712951
1 0
386 386
2 2
4735 97766
2084401 2084467
1934108 1936194
1944207 1944208
397701 397701
8414 0
82 82
51 51
2963 2963
33322 33322
657505 659429
393629 0
1027 1029
137 0
158 158
209 209
2370 0
93204 0
2 0
6 6
14 0
37 37
196 133
16289 16289
4 4
7 0
12 0
5 0
4 4

In [5]:
df_re

,atomno_1,atomno_2,atomno_3,atomno_4,atomno_5,atomno_6,atomno_7,atomno_8,atomno_9,atomno_11,...,atomno_37,atomno_38,atomno_47,atomno_52,atomno_53,atomno_54,atomno_55,atomno_56,atomno_83,atomno_88
0,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2084719,1,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2084720,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2084721,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2084722,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2084723,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
def calculate_score(df_rdkit, dr_re):
    score = np.prod(df_rdkit.shape)

    for rdkit_row, re_row in zip(df_rdkit.iterrows(), dr_re.iterrows()):
        rdkit_atom_nos = set(rdkit_row[1][1:])  # Assuming the atom number columns start from index 1
        re_atom_nos = set(re_row[1][1:])

        if rdkit_atom_nos == re_atom_nos:
            score -= 1

    return score

calculate_score(df_rdkit, df_re)

68795892

In [37]:
df_re.sum()

atomno_1      712951.0
atomno_2           1.0
atomno_3         386.0
atomno_4           2.0
atomno_5       97773.0
atomno_6     2084467.0
atomno_7     1936213.0
atomno_8     1944208.0
atomno_9      397701.0
atomno_11       8414.0
atomno_12         82.0
atomno_13         51.0
atomno_14       2963.0
atomno_15      33322.0
atomno_16     661893.0
atomno_17     393629.0
atomno_19       1029.0
atomno_20        137.0
atomno_30        158.0
atomno_33        209.0
atomno_34       1491.0
atomno_35      93204.0
atomno_36          2.0
atomno_37          6.0
atomno_38         14.0
atomno_47         37.0
atomno_52        133.0
atomno_53      16289.0
atomno_54          4.0
atomno_55          7.0
atomno_56         12.0
atomno_83          5.0
atomno_88          4.0
atomno_21      66967.0
atomno_50         32.0
dtype: float64

In [15]:
df_rdkit.sum()

atomno_1         632
atomno_2           1
atomno_3         386
atomno_4           2
atomno_5        4735
atomno_6     2084401
atomno_7     1934108
atomno_8     1944207
atomno_9      397701
atomno_11       8414
atomno_12         82
atomno_13         51
atomno_14       2963
atomno_15      33322
atomno_16     657505
atomno_17     393629
atomno_19       1027
atomno_20        137
atomno_30        158
atomno_33        209
atomno_34       2370
atomno_35      93204
atomno_36          2
atomno_37          6
atomno_38         14
atomno_47         37
atomno_52        196
atomno_53      16289
atomno_54          4
atomno_55          7
atomno_56         12
atomno_83          5
atomno_88          4
dtype: int64

In [ ]:
df